<div>
    <h1>Real time products</h1>


    <h3>Lista de productos</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Codigo</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Status</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="productosbody">
            
            
        
        </tbody>
    </table>
</div>




 <script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> 